extends ../layout-tienda

block content
  div.container-fluid
    div.row.bg-faded

      div.col-md-5.pl-md-5
        div.card.card-body.h-100.justify-content-center.p-0
          img.card-img-top.h-100(src=tienda.imagen)
      
      div.col-md-7.pr-md-5
        div.card.h-100
          div.card-body
            h3.card-title.text-center #{tienda.nombre}
            hr
            p.card-text #{tienda.descripcion} 
          div.card-footer
            p.card-text.m-0 
              small.text-muted Email: #{tienda.email}
            p.card-text.m-0 
              small.text-muted Ciudad: #{tienda.ciudad}
            p.card-text.m-0 
              small.text-muted Código postal: #{tienda.codigo_postal}
            p.card-text.m-0 
              small.text-muted Calle: #{tienda.calle}

    div.row
      div.col-md-12.pr-md-5
        if isAuthenticated && user.id == tienda.usuario
          div.text-right
            a.btn.mr-1.mt-2(href='/categoria/crear' role="button") Crear nueva categoría  
            a.btn.mr-1.mt-2(href='/tienda/editar' role="button") Editar tienda
            a.btn.delete.mr-1.mt-2(role="button" data-toggle='modal' data-target='#exampleModal') Borrar tienda

    div#exampleModal.modal.fade(tabindex='-1' role='dialog' aria-labelledby='exampleModalCenter' )
      div.modal-dialog(role='document')
        div.modal-content
          div.modal-header
            h4#exampleModalLabel.modal-title.text-center Borrar tienda
            button.close(type='button' data-dismiss='modal' aria-label='Close')
              span(aria-hidden='true') &times;
          div.modal-body
            p ¿Estás seguro de que quieres borrar esta tienda?
          dov.modal-footer
            a.cancel.btn(type='button' data-dismiss='modal') Cancelar
            a.btn.delete(href='/tienda/borrar'  role="button") Borrar





    