doctype html
html
    head
        title #{title}
    body
        h1 Poyecto de prueba realizado con Express.
        a(href='/') Página Principal | 
        a(href='/article/list') Lista de Artículos | 
        a(href='/article/add') Añadir Artículo
        block content
        br
        hr
        footer
            - var date = new Date();
            p Fecha actual: #{date.getDate()}/#{date.getMonth()+1}/#{date.getFullYear()} #{date.getHours()}:#{date.getMinutes()}
    