extends ../layout

block content
  div.container.p-0
    p #{message}
    div.col-sm-12.col-md-10.col-lg-8.mx-auto
      form.pl-sm-5.pr-sm-5.pt-sm-3.pb-sm-3.p-3(method="post")
        h4.text-center.mb-4 Hola #{usuario.nombre}, estos son tus datos personales.

        div.form-group
          label(for='nombre_de_usuario') Nombre de usuario
          input#nombre_de_usuario.form-control(type='text' placeholder='Nombre de usuario' name='nombre_de_usuario' value=usuario.nombre_de_usuario disabled)

        div.form-group
          label(for='email') Email
          input#email.form-control(type='email' placeholder='Email' name='email' value=usuario.email required='true')

        div.form-group
          label(for='nombre') Nombre
          input#nombre.form-control(type='text' placeholder='Nombre' name='nombre' value=usuario.nombre required='true' maxlength=40)

        div.form-group
          label(for='apellidos') Apellidos
          input#apellidos.form-control(type='text' placeholder='Apellidos' name='apellidos' value=usuario.apellidos required='true' maxlength=40)

        div.form-group
          label(for='dni') DNI
          input#dni.form-control(type='text' placeholder='DNI' name='dni' value=usuario.dni required='true')   

        div.text-center.mt-2
          a.btn.delete.mr-3( role="button" data-toggle='modal' data-target='#exampleModal') Borrar cuenta 
          button.btn(type='submit') Guardar

    div#exampleModal.modal.fade(tabindex='-1' role='dialog' aria-labelledby='exampleModalCenter' )
      div.modal-dialog(role='document')
        div.modal-content
          div.modal-header
            h#exampleModalLabel.modal-title.text-center Borrar cuenta
            button.close(type='button' data-dismiss='modal' aria-label='Close')
              span(aria-hidden='true') &times;
          div.modal-body
            p ¿Estás seguro de que quieres borrar tu cuenta? 
            p Si la eliminas se borrar tu tienda y todo lo que esta tenga relacionado.
          dov.modal-footer
            a.cancel.btn(type='button' data-dismiss='modal') Cancelar
            a.btn.delete(href='/usuario/borrar'   role="button") Borrar
