extends layout

block content
  div.container
    h2.text-center.m-3 Nuestras tiendas
    div.card-deck
      each tienda in tiendas
        div.col-md-12.col-lg-6.d-flex.align-items-stretch.pb-3
          div.card
            a(href="/tienda/mostrar/" + tienda._id)
              img.card-img-top(src=tienda.imagen)
            div.card-body
              h3.card-title.text-center #{tienda.nombre}
              p.card-text #{tienda.descripcion}
            div.card-footer
              p.card-text.m-0 
                small.text-muted Email: #{tienda.email}
              p.card-text.m-0 
                small.text-muted Ciudad: #{tienda.ciudad}
              p.card-text.m-0 
                small.text-muted Código postal: #{tienda.codigo_postal}
              p.card-text
                small.text-muted Calle: #{tienda.calle}

