extends layout

block content
  div.container
    h2.text-center.m-3 Nuestras tiendas
    div.card-deck
      each tienda in tiendas
        div.col-md-12.col-lg-6.d-flex.align-items-stretch.pb-3
          div.card.w-100
            a(href="/tienda/mostrar/" + tienda._id)
              img.card-img-top(src=tienda.imagen)
            div.card-body
              h3.card-title.text-center #{tienda.nombre}
              p.card-text #{tienda.descripcion}
            div.card-footer
              p.card-text.m-0 
                small.text-muted Email: #{tienda.email}
              p.card-text.m-0 
                small.text-muted Ciudad: #{tienda.ciudad}
              p.card-text.m-0 
                small.text-muted Código postal: #{tienda.codigo_postal}
              p.card-text.m-0 
                small.text-muted Calle: #{tienda.calle}
    nav(aria-label='Navegación')
      ul.pagination.justify-content-center
        - var currentPage = parseInt(page)
        - var previousPage = currentPage - 1
        - var nextPage = currentPage + 1
        - var isLastPage = nextPage * 4 >= totalItems
        if previousPage >= 0
          li.page-item
            a.page-link(href='/' + previousPage aria-label='Previous')
              span(aria-hidden='true') &laquo;
              span.sr-only Anterior
          li.page-item
            a.page-link(href='/' + previousPage) #{previousPage}
        li.page-item
          a.page-link(href='/' + currentPage) #{page}
        unless isLastPage
          li.page-item
            a.page-link(href='/' + nextPage) #{nextPage}
          li.page-item
            a.page-link(href='/' + nextPage aria-label='Next')
              span(aria-hidden='true') &raquo;
              span.sr-only Siguiente
