extends layout

block content
  div.container
    div.row
      div.col-sm-4
        h3 Enlaces
        ul.nav.nav-pills.flex-column
          li.nav-item
            a.nav-link(href="#") Patatas
          li.nav-item
            a.nav-link(href="#") Cebollas
          li.nav-item
            a.nav-link(href="#") Nabos
      div.col-sm-8
        h3 Tiendas
        each tienda in tiendas
          #article(style="background-color:lightblue")
            p #[strong Nombre:] #{tienda.nombre}
            p #[strong Descripcion:] #{tienda.descripcion}
            p #[strong Email:] #{tienda.email}
            p #[strong Imagen:] #{tienda.imagen}
            p #[strong Ciudad:] #{tienda.ciudad}
            p #[strong Calle:] #{tienda.calle}
            p #[strong Código postal:] #{tienda.codigo_postal}