extends layout

block content
  div.container
    div.row
      div.col-sm-12
        h3 Tiendas
        div.card-deck
          each tienda in tiendas
            div.card
              img.card-img-top(src=tienda.imagen)
              div.card-body
                h5.card-title.text-center #{tienda.nombre}
                p.card-text #{tienda.descripcion}
                p.card-text.m-0 
                  small.text-muted Email: #{tienda.email}
                p.card-text.m-0 
                  small.text-muted Ciudad: #{tienda.ciudad}
                p.card-text.m-0 
                  small.text-muted Código postal: #{tienda.codigo_postal}
                p.card-text.m-0 
                  small.text-muted Calle: #{tienda.calle}


          //- #article(style="background-color:lightblue")
          //-   p #[strong Nombre:] #{tienda.nombre}
          //-   p #[strong Descripcion:] #{tienda.descripcion}
          //-   p #[strong Email:] #{tienda.email}
          //-   p #[strong Imagen:] #{tienda.imagen}
          //-   p #[strong Ciudad:] #{tienda.ciudad}
          //-   p #[strong Calle:] #{tienda.calle}
          //-   p #[strong Código postal:] #{tienda.codigo_postal}
