doctype html
html
  include head.pug

  body.d-flex.flex-column.min-vh-100
    div.wrapper.flex-grow-1
      div.jumbotron.m-0.p-3.text-center
        div.d-flex.flex-row.justify-content-center
          h1.mr-2
            i.fas.fa-shopping-bag 
          h1 #{tienda.nombre}

      nav.navbar.navbar-expand-sm.bg-dark.navbar-dark.mb-3
        button.navbar-toggler(type="button" data-toggle="collapse" data-target="#navbar-collapse")
          span.navbar-toggler-icon

        div.collapse.navbar-collapse.justify-content-center(id="navbar-collapse")
          ul.navbar-nav

            li.nav-item
              a.nav-link(style="cursor: pointer;" data-toggle="collapse" data-target="#mujer" aria-expanded="false") Mujer

            li.nav-item
              a.nav-link(style="cursor: pointer;" data-toggle="collapse" data-target="#hombre" aria-expanded="false") Hombre
            
            li.nav-item
              a.nav-link(style="cursor: pointer;" data-toggle="collapse" data-target="#niynos" aria-expanded="false") Niños

            li.nav-item
              a.nav-link(style="cursor: pointer;" data-toggle="collapse" data-target="#otros" aria-expanded="false") Otros
            
            li.nav-item
              a.nav-link(href='/') Página principal
            
            if isAuthenticated
              li.nav-item
                a.nav-link(href='/usuario/salir') Salir

      div#accordion.container-fluid
        div#mujer.collapse(data-parent="#accordion")
          if categorias_mujer.length == 0
            h5.text-center Lo siento, no hay artículos relacionados en esta sección 
              i.fa.fa-female
          else
            div.row.ml-3
              each categoria in categorias_mujer
                div.col-sm-3
                  a.link-color.nav-link(href="/articulo/listar/" + tienda._id + "/" + categoria._id) #{categoria.nombre}

        div#hombre.collapse(data-parent="#accordion")
          if categorias_hombre.length == 0
            h5.text-center Lo siento, no hay artículos relacionados en esta sección 
                i.fa.fa-user-tie
          else
            div.row.ml-3
              each categoria in categorias_hombre
                div.col-sm-3
                  a.link-color.nav-link(href="/articulo/listar/" + tienda._id + "/" + categoria._id) #{categoria.nombre}

        div#niynos.collapse(data-parent="#accordion")
          if categorias_ninos.length == 0
            h5.text-center Lo siento, no hay artículos relacionados en esta sección 
                i.fa.fa-child
          else
            div.row.ml-3
              each categoria in categorias_ninos
                div.col-sm-3
                  a.link-color.nav-link(href="/articulo/listar/" + tienda._id + "/" + categoria._id) #{categoria.nombre}
        
        div#otros.collapse(data-parent="#accordion")
          if categorias_otro.length == 0
            h5.text-center Lo siento, no hay artículos relacionados en esta sección 
                i.fa.fa-home
          else
            div.row.ml-3
              each categoria in categorias_otro
                div.col-sm-3
                  a.link-color.nav-link(href="/articulo/listar/" + tienda._id + "/" + categoria._id) #{categoria.nombre}

        hr       

      block content

    include footer.pug