doctype html
html
  head
    title #{title}
    link(rel='stylesheet' href='/css/bootstrap-grid.min.css')
    link(rel='stylesheet' href='/css/bootstrap-reboot.min.css')
    link(rel='stylesheet' href='/css/bootstrap.min.css')
    link(rel='stylesheet' href='/css/styles.css')
    link(href='https://fonts.googleapis.com/css?family=Fira Sans' rel='stylesheet')
    script(src="/js/jquery.min.js")
    script(src="/js/popper.min.js")
    script(src="/js/bootstrap.bundle.min.js")
    script(src="/js/bootstrap.min.js")

  body
    div.jumbotron.m-0.p-5
      h1.text-center Potato Market

    nav.navbar.navbar-expand-sm.bg-dark.navbar-dark.mb-3
      button.navbar-toggler(type="button" data-toggle="collapse" data-target="#collapsibleNavbar")
        span.navbar-toggler-icon
      div.collapse.navbar-collapse.justify-content-center(id="collapsibleNavbar")
        ul.navbar-nav
          li.nav-item
            a.nav-link(href='/') Página Principal
          li.nav-item
            a.nav-link(href='/article/list') Lista de artículos
              ul.navbar-nav.navbar.navbar-expand-sm.bg-dark.navbar-dark
                li.nav-item
                  a.nav-link(href="#") Camisetas
                  a.nav-link(href="#") Vestidos
                  a.nav-link(href="#") Pantalones
                  a.nav-link(href="#") Zapatos
          unless isAuthenticated
            li.nav-item
              a.nav-link(href='/usuario/registro') Registro de usuario
            li.nav-item
              a.nav-link(href='/usuario/entrar') Entrar
          if isAuthenticated
            li.nav-item
              a.nav-link(href='/usuario/salir') Salir
    block content
    hr
    footer
      - var date = new Date();
      p Fecha actual: #{date.getDate()}/#{date.getMonth()+1}/#{date.getFullYear()} #{date.getHours()}:#{date.getMinutes()}
