extends ../layout-tienda



block content

  div.mr-5.ml-5
    h2.text-center.m-3 #{categoria.nombre} (#{categoria.tipo})

    div.row
      div.col-md-3
        nav.navbar.navbar-expand-sm(style='padding: initial;')
          button.navbar-toggler(type="button" data-toggle="collapse" data-target="#navSub")
            h6 Ver subcategorías disponibles 
              i.fa.fa-arrow-down.fa-fw

          div.collapse.navbar-collapse(id="navSub")
            div.col-md-12
              h5.text-center Subcategorías de #{categoria.nombre}
              hr
              if subcategorias.length == 0
                h6.text-center No hay aún subcategorías disponibles
                if isAuthenticated && user.id == tienda.usuario
                  h6.text-center ¡Crea alguna! Haz click en el siguiente botón
              else
                a.link-color(href="/articulo/listar/" + tienda._id + "/" + categoria._id)
                  h6  Todos los artículos
                each subcategoria in subcategorias
                  a.link-color(href="/articulo/listar/" + tienda._id + "/" + categoria._id + "/" + subcategoria.id)
                    h6 #{subcategoria.nombre}
              if isAuthenticated && user.id == tienda.usuario
                div.text-center
                  a.btn.mr-3.mt-2(href='/subcategoria/crear/' + categoria.id role="button") Añadir nueva subcategoría

      div.col-md-9
        div.row
          div.col-md-5
            label(for='buscador')
              input.form-control.mt-2(type='text' placeholder='Buscador' aria-label='Search')
            button.btn.ml-2(type='submit') Buscar

          div.col-md-7
            if isAuthenticated && user.id == tienda.usuario
              div.text-right
                a.btn.mr-3.mt-2(href='/articulo/crear/' + categoria.id role="button") Crear nuevo artículo
                a.btn.mr-3.mt-2(href='/categoria/editar/' + categoria.id role="button") Editar categoría #{categoria.nombre}



        div.card-deck.mt-3
          if articulos.length == 0
            div.col-md-12.mt-5
              div.jumbotron.text-center
                h5 No tienen ningún artículo disponible
                  i.fas.fa-sad-tear.fa-fw
                if isAuthenticated && user.id == tienda.usuario
                  h5 Si quieres crear alguno, es tan fácil como hacer click en este botón
                  a.btn.mr-3.mt-2(href='/articulo/crear/' + categoria.id role="button") Crear nuevo artículo

          else
            each articulo in articulos
              div.col-md-12.col-lg-6.col-xl-4.d-flex.align-items-stretch.pb-3.pr-0.pl-0.m-0
                div.card.w-100.m-1
                  a(href="/articulo/mostrar/" + articulo._id)
                    img.card-img-top(src=articulo.imagen)
                  div.card-body
                    h3.card-title.text-center #{articulo.nombre}
                  div.card-footer
                    p.card-text.m-0 
                      small.text-muted Precio: #{articulo.precio} €
                    p.card-text.m-0
                      small.text-muted Tallas disponibles: #{articulo.tallas}


